<mat-form-field appearance="fill">
  <mat-label>Проект</mat-label>
  <mat-select [(ngModel)]="selectedProject">
    <mat-option *ngFor="let project of projectList" [value]="project.id">
      {{project.name}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Версия</mat-label>
  <mat-select [(ngModel)]="selectedVersion">
    <mat-option *ngFor="let ver of projectVersion" [value]="ver.versionID">
      {{ver.version}}
    </mat-option>
  </mat-select>
</mat-form-field>

<button mat-raised-button color="primary" (click)="fetchTests()">Применить</button>


<table mat-table [dataSource]="testData"  class="mat-elevation-z8">

  <ng-container matColumnDef="Подсистема">
    <th mat-header-cell *matHeaderCellDef > Подсистема </th>
    <td mat-cell *matCellDef="let element"> {{element.subsystemName}} </td>
  </ng-container>

  <ng-container matColumnDef="Тест">
    <th mat-header-cell *matHeaderCellDef> Тест </th>
    <td mat-cell *matCellDef="let element"> {{element.testName}} </td>
  </ng-container>

  <ng-container matColumnDef="Версия">
    <th mat-header-cell *matHeaderCellDef> Версия </th>
    <td mat-cell *matCellDef="let element"> {{element.version}} </td>
  </ng-container>

  <ng-container matColumnDef="Разработчик">
    <th mat-header-cell *matHeaderCellDef> Разработчик </th>
    <td mat-cell *matCellDef="let element"> {{element.dev}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

<mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
  <mat-progress-spinner
    color="primary"
    mode="indeterminate">
  </mat-progress-spinner>
</mat-card>
