<div>
  <mat-form-field appearance="fill">
    <mat-label>Проект</mat-label>
    <mat-select  [(ngModel)]="selectedProject">
      <mat-option *ngFor="let project of projectList" [value]="project.id">
        {{project.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Версия</mat-label>
    <mat-select [(ngModel)]="selectedVersion">
      <mat-option *ngFor="let ver of projectVersion" [value]="ver.versionID">
        {{ver.version}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button class="buttonMenu" mat-raised-button color="primary" [disabled]="selectedProject === ''|| selectedVersion === 0" (click)="fetchTests()">Применить</button>
  <button class="buttonMenu" mat-stroked-button color="primary" [disabled]="isLoading" (click)="firstAccordion.openAll()">Expand All</button>
  <button class="buttonMenu" mat-stroked-button color="primary" [disabled]="isLoading" (click)="firstAccordion.closeAll()">Collapse All</button>
</div>

<mat-accordion #firstAccordion="matAccordion" multi="true">
  <mat-expansion-panel *ngFor="let date of testData">
    <mat-expansion-panel-header class="example-headers-align"
                                [collapsedHeight]="customCollapsedHeight"
                                [expandedHeight]="customExpandedHeight">
      <mat-panel-title>
        {{date.subsystemName}}
      </mat-panel-title>
      <mat-panel-description>
        {{date.data[0].dev}}
      </mat-panel-description>
      <mat-panel-description>
        {{date.data[0].autouser}}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <table matSort>
      <tr>
        <th mat-sort-header="name">Тест</th>
        <th mat-sort-header="calories">Приоритет</th>
        <th mat-sort-header="calories">Путь к TC</th>
      </tr>
      <tr *ngFor="let test of date.data">
        <td [style.width]="'600px'">{{test.testName}}</td>
        <td [style.width]="'200px'">{{test.priority}}</td>
        <td [style.width]="'200px'">
          <button class="link"
                    [cdkCopyToClipboard]="test.tcPath"
                    [disabled]="test.tcPath === null"
                    >Copy Link
          </button>
        </td>
      </tr>
    </table>

<!--    <p *ngFor="let test of date.data">-->
<!--      <span matBadge="{{test.priority}}" matBadgeOverlap="false"><i>{{test.testName}}</i></span>-->
<!--    </p>-->
<!--    <p *ngFor="let test of date.data"><i>{{test.testName}}</i></p>-->
  </mat-expansion-panel>
</mat-accordion>

<mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
  <mat-progress-bar mode="buffer"></mat-progress-bar>
</mat-card>

<app-scroll-to-top></app-scroll-to-top>
